[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
web3 = "*"
eth-utils = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
